[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
scons = ">=3.0.1"
twine = "*"
scons-tool-loader = ">=0.1.9"
scons-tool-cxxtest = ">=0.2.0"

[requires]
python = "2.7"
